---
layout: article
title: Foursight
meta: 
- Stack: Django, MySQL
- Domain: foursight.herokuapp.com
---

Foursight is a AI early cancer detection tool which began as a high school science fair project and quickly grew in popularity. Through various science fairs, the project amassed $7,500 in funding. This tool is publicly accessible and hosting on the web.