* {
	padding: 0;
	margin: 0;
	border: 0;

	box-sizing: border-box;
}

@font-face {
	font-family: 'Primer Print';
	src: url('fonts/PrimerPrint.otf');
}
@font-face {
	font-family: 'Primer Print';
	src: url('fonts/PrimerPrintBold.otf');
	font-weight: bold;
}
@font-face {
	font-family: 'BryantPro';
	src: url('fonts/BryantPro-Regular.otf');
	font-style: normal;
}
@font-face {
	font-family: 'BryantPro';
	src: url('fonts/BryantPro-RegularItalic.otf');
	font-style: italic;
}
@font-face {
	font-family: 'BryantPro';
	src: url('fonts/BryantPro-Light.otf');
	font-weight: 300;
}
@font-face {
	font-family: 'BryantPro';
	src: url('fonts/BryantPro-LightItalic.otf');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'BryantPro';
	src: url('fonts/BryantPro-Medium.otf');
	font-weight: 500;
}
@font-face {
	font-family: 'BryantPro';
	src: url('fonts/BryantPro-MediumItalic.otf');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'BryantPro';
	src: url('fonts/BryantPro-Bold.otf');
	font-weight: 700;
}
@font-face {
	font-family: 'BryantPro';
	src: url('fonts/BryantPro-BoldItalic.otf');
	font-weight: 700;
	font-style: italic;
}

body {
	background-color: black;
	color: #bfc2c7;
}
